.card{
    margin-bottom: 1em;
}
.fondo{
    background-color:rgb(170, 171, 173);
    color:rgb(56, 38, 38);
}

/* Boton ir arriba */
.btn-scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    background: blue;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(100px);
    transition: 0.3s;
}
  
.btn-scrolltop-on {
    transform: translateY(0);
}